/*
--------------------------------------------------------------------------------
COLORS - alphabetical order
--------------------------------------------------------------------------------
*/
$black:   #000000;
$dark:    #202020;
$red:     #E62A44;
$yellow:  #FEEB17;
$blue:    #05B4CC;
$white:   #FFFFFF;
$light:   #FCFDFE;
$gray:	  #999999;

/*
--------------------------------------------------------------------------------
IMAGES
--------------------------------------------------------------------------------
*/


/*
--------------------------------------------------------------------------------
VARIABLES
--------------------------------------------------------------------------------
*/
$radius: .4rem;
