.accenture{
  background-image: url("/images/shift18/partners-18/accenture.png");
}
.cp{
  background-image: url("/images/shift18/partners-18/cp.png");
}
.digitalocean{
  background-image: url("/images/shift18/partners-18/digitalocean.png");
}
.esabic{
  background-image: url("/images/shift18/partners-18/esabic.png");
}
.fctuc{
  background-image: url("/images/shift18/partners-18/fctuc.png");
}
.feedzai{
  background-image: url("/images/shift18/partners-18/feedzai.png");
}
.lifeonmars{
  background-image: url("/images/shift18/partners-18/lifeonmars.png");
}
.novabase{
  background-image: url("/images/shift18/partners-18/novabase.png");
}
.redlight{
  background-image: url("/images/shift18/partners-18/redlight.png");
}
.subvisual{
  background-image: url("/images/shift18/partners-18/subvisual.png");
}
.tisystems{
  background-image: url("/images/shift18/partners-18/tisystems.png");
}
.whitesmith{
  background-image: url("/images/shift18/partners-18/whitesmith.png");
}
.wit{
  background-image: url("/images/shift18/partners-18/wit.png");
}
.github{
  background-image: url("/images/shift18/partners-18/github.png");
}
.unbabel{
  background-image: url("/images/shift18/partners-18/unbabel.png");
}
.uc{
  background-image: url("/images/shift18/partners-18/uc.png");
}
.flag{
  background-image: url("/images/shift18/partners-18/flag.png");
}
.bolasberlim{
  background-image: url("/images/shift18/partners-18/bolasberlim.png");
}
.dreampills{
  background-image: url("/images/shift18/partners-18/dreampills.png");
}
.arcade{
  background-image: url("/images/shift18/partners-18/arcade.png");
}
.cm{
  background-image: url("/images/shift18/partners-18/cm.png");
}
.dei{
  background-image: url("/images/shift18/partners-18/dei.png");
}
.aac{
  background-image: url("/images/shift18/partners-18/aac.png");
}
.ipn{
  background-image: url("/images/shift18/partners-18/ipn.png");
}
.luso{
  background-image: url("/images/shift18/partners-18/luso.png");
}
.outsystems{
  background-image: url("/images/shift18/partners-18/outsystems.png");
}
.revolut{
  background-image: url("/images/shift18/partners-18/revolut.png");
}
.sketch{
  background-image: url("/images/shift18/partners-18/sketch.png");
}
.sportscaffe{
  background-image: url("/images/shift18/partners-18/sportscaffe.png");
}
.critical{
  background-image: url("/images/shift18/partners-18/critical.png");
}
